# Veri Bilimi için İstatistik

### Örnek Teorisi

In [3]:
import numpy as np

In [5]:
populasyon = np.random.randint(0, 80, 10000)

In [7]:
populasyon[0:10]

array([40, 18, 33, 29, 27, 71, 57, 46, 77, 32])

In [13]:
#Orneklem cekimi
np.random.seed(115) #hep aynı örnekleri cekmek icin
orneklem = np.random.choice(a = populasyon, size = 100) #100 tane ornek cek
orneklem[0:10]

array([ 8, 50, 66, 10,  4, 11, 48, 20, 70,  6])

In [15]:
orneklem.mean()

37.73

In [17]:
populasyon.mean()

39.7397

In [19]:
#orneklem dagılımı
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [23]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean()
+ orneklem6.mean()+ orneklem7.mean()+ orneklem8.mean()+ orneklem9.mean()+ orneklem10.mean()) / 10

38.279999999999994

In [25]:
orneklem1.mean()

38.41

In [27]:
orneklem2.mean()

37.62

### Betimsel İstatikler

In [30]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [36]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Using cached researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Collecting scipy (from researchpy)
  Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy in c:\users\uygun\anaconda3\lib\site-packages (from researchpy) (1.26.4)
Requirement already satisfied: pandas in c:\users\uygun\anaconda3\lib\site-packages (from researchpy) (2.2.3)
Collecting statsmodels (from researchpy)
  Downloading statsmodels-0.14.4-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Collecting patsy (from researchpy)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\uygun\anaconda3\lib\site-packages (from pandas->researchpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\uygun\anaconda3\lib\site-packages (from pandas->researchpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\uygun\anaconda3\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: packaging>=21.3 in c:\users\uygun\anaconda3\lib\site-packages (from statsmodels->researchpy) (24.1)
Requirement already satisfied: six>=1.5 in c:\users\uygun\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->researchpy) (1.16.0)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading scipy-1.15.1-cp312-cp312-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
   - -------------------------------------- 1.8/43.6 MB 9.1 MB/s eta 0:00:05
   ------ --------------------------------- 6.6/43.6 MB 16.1 MB/s eta 0:00:03
   ------------- -------------------------- 15.2/43.6 MB 25.2 MB/s eta 0:00:02
   --------------- ------------------------ 17.3/43.6 MB 26.6 MB/s eta 0:00:01
   --------------------------- ------------ 29.9/43.6 MB 29.6 MB/s eta 0:00:01
   ---------------------------------- ----- 38.0/43.6 MB 31.0 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 31.5 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 29.5 MB/s eta 0:00:00
Downloading statsmodels-0.14.4-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   ----------------------------------- ---- 8.7/9.8 MB 44.9 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 38.2 MB/s eta 0:00:00
Installing collected packages: scipy, patsy, statsmodels, researchpy
Successfully installed patsy-1.0.1 researchpy-0.3.6 scipy-1.15.1 statsmodels-0.14.4

In [40]:
rp.summary_cont(df[["total_bill", "tip", "size"]])

C:\Users\uygun\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total_bill' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\uygun\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'tip' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\uygun\anaconda3\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'size' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [44]:
rp.summary_cat(df[["sex", "smoker", "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [48]:
df[["tip", "total_bill"]].cov() #kovaryans

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [50]:
df[["tip", "total_bill"]].corr() # korelasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

### İş Uygulaması: Fiyat Stratejisi Karar Destek

In [57]:
import numpy as np
fiyatlar = np.random.randint(10,110, 1000)

In [59]:
fiyatlar.mean()

58.418

In [61]:
import statsmodels.stats.api as sns

In [65]:
sns.DescrStatsW(fiyatlar).tconfint_mean()

(56.60767183053276, 60.22832816946724)

# Olasılık Dağılımları

### Bernoulli Dağılımı

In [71]:
from scipy.stats import bernoulli

In [73]:
p = 0.6

In [77]:
rv = bernoulli(p)
rv.pmf(k = 0)

0.4000000000000001

### Büyük Sayılar Yasası
Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.

In [86]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0, 2, size = deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:", deney_sayisi, "---",'Yazı Olasılığı: %.2f' % (yazi_olasiliklari))

Atış Sayısı: 2 --- Yazı Olasılığı: 0.50
Atış Sayısı: 4 --- Yazı Olasılığı: 0.00
Atış Sayısı: 8 --- Yazı Olasılığı: 0.62
Atış Sayısı: 16 --- Yazı Olasılığı: 0.44
Atış Sayısı: 32 --- Yazı Olasılığı: 0.47
Atış Sayısı: 64 --- Yazı Olasılığı: 0.56
Atış Sayısı: 128 --- Yazı Olasılığı: 0.51
Atış Sayısı: 256 --- Yazı Olasılığı: 0.53
Atış Sayısı: 512 --- Yazı Olasılığı: 0.53
Atış Sayısı: 1024 --- Yazı Olasılığı: 0.50
Atış Sayısı: 2048 --- Yazı Olasılığı: 0.49
Atış Sayısı: 4096 --- Yazı Olasılığı: 0.49
Atış Sayısı: 8192 --- Yazı Olasılığı: 0.50
Atış Sayısı: 16384 --- Yazı Olasılığı: 0.50
Atış Sayısı: 32768 --- Yazı Olasılığı: 0.50
Atış Sayısı: 65536 --- Yazı Olasılığı: 0.50
Atış Sayısı: 131072 --- Yazı Olasılığı: 0.50
Atış Sayısı: 262144 --- Yazı Olasılığı: 0.50
Atış Sayısı: 524288 --- Yazı Olasılığı: 0.50
Atış Sayısı: 1048576 --- Yazı Olasılığı: 0.50

### Binom Dağılımı

In [89]:
from scipy.stats import binom

In [91]:
p = 0.01
n = 100
rv = binom(n, p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764972666
0.0028977871237614783
7.006035693977194e-08

### Possion Dağılımı

In [96]:
from scipy.stats import poisson

In [100]:
lambda_ = 0.1

In [102]:
rv = poisson(mu = lambda_)
print(rv.pmf(k = 0))

0.9048374180359595

In [104]:
print(rv.pmf(k = 3))

0.00015080623633932676

In [106]:
print(rv.pmf(k = 5))

7.54031181696634e-08

### Normal Dağılım

In [110]:
from scipy.stats import norm

In [114]:
# 90dan fazla olması olasılıgı
1-norm.cdf(90, 80, 5)

0.02275013194817921

In [116]:
# 70den fazla olma olasılıgı
1-norm.cdf(70, 80, 5)

0.9772498680518208

In [118]:
# 73den az olması olasılıgı
norm.cdf(73, 80, 5)

0.08075665923377107

In [120]:
# 85 ile 90 arasında olması
norm.cdf(90, 80, 5) - norm.cdf(85, 80, 5)

0.13590512198327787